# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/10-Routing

instance:
  url:   /:module/:id
  param: { action: instance }
  requirements:
    id: \d+

collection:
  url:   /:module
  param: { action: collection }

command:
  url:   /command/:action
  param: { module: main }

homepage:
  url:   /
  param: { module: main, action: index }
