project/cache/*
project/log/*
project/config/propel.ini
project/data/sql/*
project/lib/filter/doctrine/base/Base*
project/lib/filter/doctrine/*Plugin/base/Base*
project/lib/form/doctrine/base/Base*
project/lib/form/doctrine/*Plugin/base/Base*
project/lib/model/doctrine/base/Base*
project/lib/model/doctrine/*Plugin/base/Base*
project/lib/model/om/*
project/lib/model/map/*

public_html/web/uploads/*
public_html/web/*Plugin/*
public_html/error_log

nbproject/
