options:
  charset: utf8
  collate: utf8_general_ci

Outcome:
  actAs:
    Timestampable:
      updated:
        disabled: true
    Signable:
      updated:
        disabled: true
  columns:
    category_id:
      type: integer
      notnull: true
    comment:
      type: string
      notnull: false
    cash_total:
      type: decimal(10,2)
      notnull: true
  relations:
    Category:
      class: OutcomeCategory
      foreignAlias: Outcomes
      local: category_id

Income:
  actAs:
    Timestampable:
      updated:
        disabled: true
    Signable:
      updated:
        disabled: true
  columns:
    category_id:
      type: integer
      notnull: true
    amount:
      type: decimal(10,2)
      notnull: true
    description:
      type: string(64)
      notnull: true
  relations:
    Category:
      class: IncomeCategory
      foreignAlias: Incomes
      local: category_id

Category:
  actAs:
    Timestampable: ~
    Signable: ~
  columns:
    parent_id:
      type: integer
    name:
      type: string(32)
      notnull: true

IncomeCategory:
  comment: "kategorie przychodów"
  inheritance:
    extends: Category
    type: column_aggregation
  relations:
    Parent:
      class: IncomeCategory
      local: parent_id
      foreign: id
      foreignAlias: Children

OutcomeCategory:
  comment: "kategorie wydatków"
  inheritance:
    extends: Category
    type: column_aggregation
  relations:
    Parent:
      class: OutcomeCategory
      local: parent_id
      foreign: id
      foreignAlias: Children
